<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.min.css"
          th:href="@{/resources/static/css/bootstrap.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.css"
          th:href="@{/resources/static/css/font-awesome.css}">
<!--    <link rel="stylesheet"-->
<!--          href="../../resources/static/css/datepicker.css"-->
<!--          th:href="@{/resources/static/css/datepicker.css}">-->
    <link rel="stylesheet" type="text/css"
          href="http://www.eyecon.ro/bootstrap-datepicker/css/datepicker.css">

    <title>Client management</title>
</head>
<script>
    var currentData = "tariff";
</script>
<body>
<!--Head panel-->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary navbar-fixed-top">
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="Clients" href="#Clients" th:href="@{|/|}">Clients</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="Tariffs" href="#Tariffs" th:href="@{|/tariffs|}">Tariffs</a>
            </li>
        </ul>
    </div>
</nav>
<!--Head panel-->
<header>
    <nav class="navbar navbar-light bg-info navbar-fixed-bottom" id="test">
        <a href="#cancel" class="btn btn-info btn-lg" onclick="cancel(currentData)" style="visibility: hidden;" id="cancel">
            <i class="fa fa-times"></i></a>
        <span class="navbar-brand" id="text-head">Tariffs</span>
        <form class="form-inline">
            <a href="#add" class="btn btn-info btn-lg" onclick="add(currentData)" id="add">
                <i class="fa fa-plus"></i> Add</a>
            <a href="#save" class="btn btn-info btn-lg" onclick="save(currentData)" style="display: none;" id="save">
                <i class="fa fa-save"></i> Save</a>
        </form>
    </nav>
    </br>
</header>

<section id="tariffs-table">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width: 55%" hidden>Id</th>
                                <th style="width: 55%">Tariff name</th>
                                <th style="width: 30%">Count clients</th>
                                <th style="width: 15%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tariff : ${tariffs}" th:id="'row' + ${tariff.tariffId}">
                                <td hidden th:text="${tariff.tariffId}">1</td>
                                <td th:text="${tariff.tariffName}">Talkative</td>
                                <td th:text="${tariff.tariffCountClients}">4</td>
                                <td>
                                    <a class="edit" href="#edit" th:href="@{|/tariff/${tariff.tariffId}|}" data-toggle="tooltip" data-original-title="Edit"><i
                                            class="fa fa-pencil fa-fw"></i></a>
                                    <button type="button" class="btn" data-toggle="modal" data-target="#delete" data-name="Talkative" data-table="tariff" data-id="1"
                                            th:attr="data-name=${tariff.tariffName},data-id=${tariff.tariffId}">
                                        <a class="delete" data-toggle="tooltip" data-original-title="Delete">
                                            <i class="fa fa-trash-o fa-lg"></i></a>
                                    </button>
                                </td>
                            </tr>
                            <tr th:remove="all">
                                <td hidden>2</td>
                                <td>Silent</td>
                                <td>2</td>
                                <td>
                                    <a class="edit" href="#add" onclick="edit(currentData)" data-toggle="tooltip" data-original-title="Edit"><i
                                            class="fa fa-pencil fa-fw"></i></a>
                                    <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i
                                            class="fa fa-trash-o fa-lg"></i></a>
                                </td>
                            </tr>
                            <tr th:remove="all">
                                <td hidden>3</td>
                                <td>Corporate</td>
                                <td>0</td>
                                <td>
                                    <a class="edit" href="#add" onclick="edit(currentData)" data-toggle="tooltip" data-original-title="Edit"><i
                                            class="fa fa-pencil fa-fw"></i></a>
                                    <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i
                                            class="fa fa-trash-o fa-lg"></i></a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tariff-form" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-12 pull-md-3 bd-content">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Tariff name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="tariff name">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger" id="message"><span class="fa fa-warning"></span></div>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success" id="save-button" data-dismiss="modal"><span class="fa fa-chevron-circle-down"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../resources/static/js/jquery-3.3.1.slim.min.js"
        th:src="@{/resources/static/js/jquery-3.3.1.slim.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script src="../../resources/static/js/bootstrap-datepicker.min.js"
        th:src="@{/resources/static/js/bootstrap-datepicker.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $('#delete').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget)
        elementName = button.data('name')
        id = button.data('id')
        var table = button.data('table')
        var modal = $(this)
        var span = document.getElementById("message");
        span.innerText = span.textContent = 'Are you sure you want to delete "' + elementName + '"?'
        modal.find('.modal-body input').val(elementName)
        $('#save-button').click(function() {
            var i = document.createElement("img");
            i.src = "/delete/"+ id;
            document.getElementById('row' + id).remove();
        });
    })
</script>
</body>
</html>